<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Home">LUDYCOM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/User">USUARIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Area">AREAS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Dashboard">DASHBOARD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">CIERRA SESIÓN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>